.animate-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* blue loading circle in the login page */
#blueloading {
  animation: blueloading 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  /* fill: rgb(14, 94, 243); */
}

/* loading circle animation for OTP modal */
@keyframes blueloading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

html,
body {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  z-index: 50;
  pointer-events: none;
}

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 55%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 72%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
  left: 88%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
  left: 33%;
  opacity: 1;
  -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
  animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@keyframes moveclouds {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left: -0.3%;
  }
  33% {
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left: -12%;
  }
}

/* //  BIRTHDAY BALLOON CODE */
.balloon1 {
  background: url(../public/balloon1.png) no-repeat center;
  width: 82px;
  height: 155px;
  position: relative;
  display: block;
  z-index: 1;
  scale: 50%;
}

.balloon2 {
  background: url(../public/balloon2.png) no-repeat center;
  width: 82px;
  height: 155px;
  position: relative;
  display: block;
  z-index: 1;
  scale: 50%;
}

/* //  HEART CODE */
.altheart {
  background: url(../public/broken-heart.png) no-repeat center;
  width: 64px;
  height: 64px;
  position: relative;
  display: block;
  z-index: 1;
  scale: 50%;
}

.heart {
  position: relative;
  z-index: 1;
}
.heart:before,
.heart:after {
  position: absolute;
  content: '';
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  background: #cc2022;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* TIP TAP PLACEHOLDER -used in Leave Application modal */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  padding-top: 10px;
  padding-bottom: 25px;
}
